<header id="header" class="wrapper header">
    <div id="header-inner" class="inner header-inner">
        <nav id="header-nav" class="header-nav">
            <ul id="header-nav-list" class="header-nav-list">
                <% for (name in theme.menu) { %>
                <li class="header-nav-item">
                    <a href="<%- url_for(theme.menu[name]) %>" class="header-nav-item-link">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-<%=name%>"></use>
                        </svg>
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>
        <div id="header-page-name" class="header-page-name">
            <div id="header-page-name-inner" class="inner header-page-name-inner" >
                <%= theme.title %>
            </div>
            <div id="header-page-desc-inner" class="inner header-page-desc-inner">
                <%= theme.description %>
            </div>
        </div>
    </div>
</header>