ul{
    padding-inline-start: 0px;
}

body {
    display: block;
    margin: 0px;
    background:#f1f1f1;
}

.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@font-face
{
    font-family: Damion;
    src: url('../font/Damion-Regular.ttf');
}

.wrapper{
    margin: 0 auto;
}

.inner{
    padding: 10px 10px;
}

.header {
    display: flex;
    background:#f1f1f1;
}

.header-inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}


.header-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-nav-list{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.header-nav-item{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 2rem;
    width: 2rem;

    margin: 0px 10px;
    border-radius: 10px;
    color: #FFF;
}

.header-page-name{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 2.5%;
}

.header-page-name-inner{
    padding: 0 2.5%;
    font-size: 2em;
    font-family:Damion;
}

.header-page-desc-inner{
    font-weight: 600;
    color: #b2b3b2;
    font-size: 0.66em;
}

