.index-posts{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.index-posts-post{
    margin: 3rem 0rem ;
    border-radius:0.8rem;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    background: white;
}

.fix{
    width: 20rem;
} 

.index-post-img{
    display: flex;
    width: 48%; 
    justify-content: center;
    align-items: center;
    height: auto;
}

.img-bg{
    width: 100%;
    border-radius: 10px  0px 0px 10px;
 }



.index-post-desc{
    display: flex;
    width: 52%; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em 0.1em 2em;
 }


.index-post-title > p{
    font-weight: 900;
    font-size: 2rem;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.index-post-title-link{
    ackground-color: transparent;
    box-shadow: inset 0 0 0 2px #51BAA4;
    color: #51BAA4 !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    min-width: 6em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0rem 0rem 1rem 0rem;

}

.paginator{
    width: 100%;
    margin: 1rem;
    justify-content:center;
    display:flex;
    flex-direction: row;
}

.page-nav{
    width:50%;

    max-width :60rem;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}


a{
    text-decoration:none;
    color: black;
}



.pager{
    display: flex;
    width :100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more{
    ackground-color: transparent;
    box-shadow: inset 0 0 0 2px #51BAA4;
    color: #51BAA4 !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    min-width: 6em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0rem 0rem 1rem 0rem;
}



