.post {
    display :flex;
    margin: 3rem;
    flex-direction: column;
    justify-content :center;
    align-item:center;
    max-width :60rem;
    margin :auto;
}

.post-content{
    display :flex;
    padding: 3rem;
    flex-direction: column;
}

.posts  {
  .post:first-child {
    margin-top: 0;
  }

  .post-title {
    font-size: 1.5em;

    .post-title-link {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-content {
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #BABABA;
  }
}

@font-face
{
    font-family: sourceCode ;
    src: url('../font/SourceCodeVariable-Roman.ttf');
}

.article-container pre{
  font-family: sourceCode;
}

div{
  font-family: sourceCode;
}



.post-meta{
    display :flex;
    flex-direction: row;
    justify-content :center;
    align-items: center;
}

.post-time{
    font-size: 0.5rem;
}
